
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: "helvetica neue", sans-serif;
}

header{
    
    background-color:#616E7D;
    background-size: cover;
    background-position: center;
    
}

footer{
    background-color:#616E7D;
    background-size: cover;
    background-position: center;
    font-family: 'helveticaneuemedium';
}

body{
    background-size: cover;
    background-color: white;
    font-family: 'helveticaneuemedium';
    margin-top: 55px;
    
}
/* 
#header{
    top: 0px;
    position: fixed;
    background-color: grey;
    width: 642px;
    z-index: 1;
    text-align: center;
    display: block;

}

#content{
width: 100%;
    overflow-x: hidden;
    clear: both;
    border: 1px solid;
    margin-top: 50px;
} */

/*Header*/

link{
    color: white;
    
}
.container-fluid{
    width: 100%;
    margin:auto;

}
.nav-link{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-item:hover{
    
    color: none;
}

.nav-link:hover{
    color: white;
}

.dropdown-menu{
    position: absolute;
    top:47px;
    overflow: hidden;   
    background-color: white;
    padding:0px;
}

.dropdown-menu a{

    text-decoration: none;
}

.dropdown-menu a:hover{
    text-decoration: Center;
}

.dropdown-item{
    padding: 20%;
}

.dropdown-item:hover{
    background-color: #f3f3f3;
}

a.dropdown-item.text-center {
    color: black;
}


.nav

/*Animasi Card */
.card:hover{
    -moz-window-shadow: -1px 9px 40px -12px rgba(0,0,0,0,0);
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0,0);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0,0);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0,0);
}

.my-container{
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
}

.row{
    align-items: center;
    padding:0px;
}

.col-centered{
    display: inline-block;
    float:none;
    text-align: left;
    margin-right: -4px;
}




/*Navigation*/
.quantity-tags-navbar{
    font-size: 0.85714em;
    font-weight: 500;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: white;
    color: #616E7D;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.58333em;
    position: absolute;
    right: -0.25em;
    top: -0.75em;
    z-index: 3;
}

.card-image-user-header{
    
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card-image-user-header > img {
    width: 100%;
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -o-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
  }

/*Index*/

.row-centered{
    text-align: center;
    margin:0px;
    background-color: white;
}

.card-fluid{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    transition-duration: .5s;
    
}


.category:hover{
    background-color: #f5f5f5;
}

/* .rounded.mx-auto.d-block.img-fluid:hover{
    background-color: #bdc3c7;
} */

button.btn-addcart{
    color: #138496;
    background-color: white;
}

a.btn-addcart{
    color: #138496;
    background-color: white;
}

.btn-addcart{
    color: #138496;
    background-color: white;
}

.card-text-box-button{
    color: #138496;
    
}

.card-box{
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    transition-duration: .5s;
}

.card-body{
    padding: 0px;
}


.card-image-carousel{
    height: 300px;
    position: relative;
    overflow: hidden;
    
}

.card-image-carousel > img {
    width: 100%;
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -o-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
}

.card-image{
    
    height: 120px;
    position: relative;
    overflow: hidden;
}

.card-image > img {
    width: 100%;
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -o-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
  }

.card-title-box{
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    padding-top: 20px;
    height: 120px;
    max-width: auto;
    
}

.card-price-box{
    
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    color:#17A2B8;
    
}



/**/
.card-title{
    text-align: center;
}

.card-change-password{
    height: 450px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin: 0 auto;
    background: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    
}

.card-register{
    height: 550px;
    width: 500px;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: auto;
    background: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: white;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #616E7D;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #616E7D !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #616E7D !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #616E7D !important;
}

/*Detail Product*/
.container-detailproduct{
    padding:20px;
}

.row-detail{
    padding:0px;
    
}


.card-image-detail{
    height: 400px;
    position: relative;
    overflow: hidden;
}

.card-image-detail > img {
    width: 100%;
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -o-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
  }

.product-section-images{
    display: grid;
    grid-template-columns: repeat(6, 50px);
    justify-content: space-around;
    
    margin-top: 20px;
}

.product-section-image{
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    margin: auto;
    
    
    /* img{
        opacity: 0;
        transition: opacity 0 .10s ease-in-out;
    }

    img.active {
        opacity: 1;
    } */
}

.product-section-thumbnail{
    display: flex;
    align-items: center;
   
    background-color: white;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    transition-duration: .5s;
    
}

.product-section-thumbnail:hover{
    border: 1px solid #979797;
}

.card-detail-name{
    
    padding: 0px;
    font-size: 30px;
    
}

.card-detail-category{
    padding: 0px;
    margin-left: 20px;
}

.card-detail-price{
    padding: 0px;
    font-size: auto;
    color:#17A2B8;
}

.card-detail-count{
    padding-top: 40px;
}

.card-detail-button-wishlist{
    
    
    text-align: center;
}

.card-detail-description-body{
    padding-bottom: 50px;

}

.card-detail-description{
    
    height: auto;
    width: auto;
    max-height: auto;
    /* padding-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    transition-duration: .5s; */
    background-color: white;
    
}

#description-title{
    line-height: 200%;
    
}



#description-detail{
    margin:10px;
    
    
}

/*Detail Random*/


.card-box-random{
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    transition-duration: .5s;
}

.card-body-random{
    padding: 0px;
    max-height: 200px;
}


.card-image-random{
    
    height: 100px;
    position: relative;
    overflow: hidden;
}

.card-image-random > img {
    width: 100%;
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -o-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
  }
  
.card-title-box-random{
    text-align: center;
    padding-top: 5px;
    margin: 10px;
    height: 100px;
    max-width: auto;
}


.card-price-box-random{
    margin-top: 50px;
    color:#17A2B8;
}


/*Cart Product*/


.row-cart{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
}

.table-wrapper-scroll-y-cart{
    display: block;
    overflow: hidden;
    height: 400px;
}

.table-wrapper-scroll-y-cart:hover{
    overflow-y: auto;
    
}


h2.title-cart.text-center.text-uppercase{
    line-height: 200%;
}

.card-box-cart-table-header{
    background-color: white;
    /* padding: 5px;
    
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    transition-duration: .5s; */
}

.card-box-cart-table-body:nth-child(even) {
    background-color: #f2f2f2
  }


.card-box-cart-table-body{
    background-color: white;
    height: auto;
    /* padding: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    transition-duration: .5s; */
    
    align-self: center;
}

.card-image-cart-table{
    
    max-height: 100px;
    max-width: 80%;
    position: relative;
    overflow: hidden;
}

.card-image-cart-table > img {
    width: 100%;
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -o-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
  }

.cart-summary{
    background-color: white;
    height: 100%;
    position: relative;
    /* border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    transition-duration: .5s;
    z-index: 1; */
    padding: 30px 20px; 
      
}


div.card-total-cart{
    line-height: 200%;
}

div.card-total-bill-cart{
    line-height: 50px;
}

div.card-button-cart-continue{
    line-height: 50px;
    
}

div.card-button-cart-checkout{
    line-height: 50px;
    
}
/* Checkout*/
.card-checkout-box-address{
    height: 400px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.card-body-address{
   padding: 40px;
   background: #f0f0f0;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}


.card-checkout-name-address{
    padding-top: 20px;
}

.card-box-checkout-table-body{
    overflow: auto;
    height: 400px;
    background: white;
}


.card-box-checkout-table{
    
    background-color: white;
    
    
    padding-bottom:20px; padding-top:20px; 
    
}

.table-wrapper-scroll-y-checkout{
    display: block;
    overflow: hidden;
    height: 400px;
}

.table-wrapper-scroll-y-checkout:hover{
    overflow-y: auto;
    
}

.text-title-detail-order{
    display: inline-block;
    width: 80%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.checkout-summary{
    background-color: white;
    
    position: relative;
    /* border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    transition-duration: .5s;
    z-index: 1; */
    padding: 30px 0 20px 0; 
      
}

.card-title-box-checkout{
    padding-right: 20px;
    border-bottom: solid 2px #e0e0e0;
}

.quantity-tags-checkout{
    font-size: 0.85714em;
    font-weight: 500;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: #616E7D;
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.58333em;
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    z-index: 3;
}

/* Whislist*/

/* 
button.btn-wishlist:active {
    
    border: 2px solid red;
    
} */

button.btn-wishlist{
    background-color: rgb(184, 23, 55);
    color:white;
}

a.btn-wishlist{
    background-color: rgb(184, 23, 55);
    color: white;
    fill: white;
}

.card-image-wishlist{
    height: 150px;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
}


.card-image-wishlist > img {
    width: 100%;
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -o-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
  }

.card-box-wishlist{
    background-color: white;
    height: auto;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    transition-duration: .5s;
}

.card-body-wishlist{
    padding: 0px;
}

.card-title-box-wishlist{
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    padding-top: 20px;
    height: 120px;
    max-width: auto;
    
}

.card-price-box-wishlist{
    text-align: center;
    padding: 0px;
    color:#17A2B8;
}


.card-text-box-button-wishlist{
    padding: 10px 20px 10px 20px;
    
}

.card-text-box-button-delete-wishlist{
    
    max-width: inherit;
    position: absolute;
    top: 30px;
    right: 10%;
}

/*User*/


h2.title-user.text-center{
    line-height: 200%;
}

.card-user-change{
    height: 500px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin: 0 auto;
    background: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.card-user-box-address{
    height:auto;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin: 0 auto;
    background: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.card-body-user-address{
    padding: 0px;
    margin: 0px;
   
}

.card-image-user{
    
    height: 300px;
    position: relative;
    overflow: hidden;
}

.card-image-user > img {
    width: 100%;
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -o-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
  }


.card-image-user-change{
    
    height: 300px;
    position: relative;
    overflow: hidden;
}

.card-image-user-change > img {
    width: 100%;
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -o-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
  }

/*Payment*/


.card-body-payment{
    margin: 10px 0px 15px 0px;
   
}

.card-box-payment{
    
    padding: 10px;
    height: 250px;
    border: solid 2px #e0e0e0;
    background: #f2f2f2;
}

.card-title-payment{
  padding-top:5px;
  padding-bottom: 0px;
  margin:0px;
}

.card-image-payment{
    margin: 10px;
    width: auto;
}

/*History Order*/

/*LOGIN*/
.login-form{
    padding-right: 20px;
    border-radius: 10px;
    padding-bottom: 40px;
    
}

.register-form{
    padding-right: 20px;
    border-radius: 10px;
    padding-bottom: 15px;
    
}

.form-group{
    padding:bottom 10px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    box-shadow: 0px 0px 10px 0px gray;
    
}

h2{
    
    

    
  
}

h3{
    
    
    

    font-size: 25px;
}


h6{
    
    margin: 5px;
}

p{
    font-size: 20px;
    
}
#navigation{
    width: 100%;
    height: 35px;
}
.nav a:hover{
    color: #17A2B8
}

.navbar-brand{
    font-size: 20px;
    color: white;
    text-align: left;
    align-items: center;
    margin-left:1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    color: white;
    
}


.btn-header{
    color: white;
    background-color: #138496;
}

.btn-profile{
    margin-bottom: 10px
}

.div-back{
    padding: 50px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.pagination{
    text-align: center;
    justify-content: center;
    
}

.show {
    display: block;
}
.hidden {
    display: none;
}

      div.image-zoom div.box {
        border-color: #808080;
        border-style: outset;
      }
      div.image-zoom div.popup {
        border-color: #800080;
        border-style: inset;
      }
      div.image-zoom div.thumbnail {
        border-color: #800000;
        border-style: outset;
      }

.table-wrapper-scroll-y {
    display: block;
    /* max-height: 300px; */
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.dtHorizontalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
    }
    #dtHorizontalExample th, td {
    white-space: nowrap;
    }
    
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
    }

    table {
        width:  100%;
        border-collapse: collapse;
    }
    td {
        border: 1px solid black;
    }
    .scrollingTable {
        width: 90%;
        overflow-y: auto;
    }
